.breadTop {
    width: 50%;
    height: 20%;
    background-color: rgb(153, 95, 54);
    border-radius: 50px 50px 0 0;
}

.breadBot {
    width: 50%;
    height: 20%;
    background-color: rgb(153, 95, 54);
    border-radius: 0 0 50px 50px;
}

.salad {
    width: 45%;
    height: 10%;
    background-color: green;
    border-radius: 20px;
}

.beef {
    width: 45%;
    height: 10%;
    background-color: brown;
    border-radius: 20px;
}

.beef {
    width: 45%;
    height: 10%;
    background-color: rgb(207, 207, 6);
    border-radius: 20px;
}